.header {
    font-size: 1.5rem;
    margin: 30px 2% 50px 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: "Press Start 2P", system-ui;
    text-align: center;
    width: 75%;
    color: #3a2f50;

}

@media (max-width : 768px) {
    .header {
        font-size: 1.1rem;
    }

    h1 {
        width: 100%;
    }
}