h1 {
    text-align: center;
    background-color: #4a818d;
    color: #fff;
    font-weight: 400;
    max-width: max-content;
    margin: 2% auto;
    padding: 1%;
    border-radius: 15px;
}

h2 {
    font-weight: 100;
    font-size: 1.2em;
    text-align: center;
    padding: 0;
}

p {
    font-weight: bold;
    font-size: 25px;
}

.olympics-info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
}

.numbers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #4a818d 2px solid;
    padding: 1%;
    border-radius: 15px;
    gap: 7px;
}

@media (max-width: 767.98px) {
    .olympics-info-container {
        gap: 2%;
        margin: 30px 2% auto 2%;
    }
    
    h1 {
        padding: 1% 5%;
    } 

    h2 {
        font-size: 1rem;
    }
}